/* line 2, ../sass/uib_tk.scss */
.group-sidebar {
  width: 30%;
  float: right;
  padding: 2px;
  font-size: 75%;
}

/* line 9, ../sass/uib_tk.scss */
.field-label-above {
  margin: 0 0 20px;
}

/* line 13, ../sass/uib_tk.scss */
.group-main {
  width: 68%;
  float: left;
}
