// Style rules for the UiB TK theme
/////////////

/////////////
// Basic Styles
/////////////
html{
  background: url(../images/bg-body.png) #fff repeat-x;
}

body {
  background: url(../images/bg-top.png) no-repeat;
}

/////////////
// Styles for navigation
/////////////
nav {
  background-color: $bg-color-grey;
  padding: 0.5em;

  li {
    margin-left: 1em;
    text-transform: uppercase;
  }

  a {
    color: $base-font-color;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: #009de0;
    }
  }
}

////////////
// Styles for main
////////////
.view-id-service_classes {
  margin-bottom: 1em;
  .item-list {
    @include border-radius(0.5em);
    border: solid 3px #666;
    margin: 0 0 1em;
    padding: 0.5em;
    h3 {
      margin: 0;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &:nth-child(10n+1) {
      h3 a {
        color: $profile-color-green;
        &:hover {
          color: darken($profile-color-green, 10%);
        }
      }
    }
    &:nth-child(10n+2) {
      h3 a {
        color: $profile-color-red;
        &:hover {
          color: darken($profile-color-red, 10%);
        }
      }
    }
    &:nth-child(10n+3) {
      h3 a {
        color: $profile-color-orange;
        &:hover {
          color: darken($profile-color-orange, 10%);
        }
      }
    }
    &:nth-child(10n+4) {
      h3 a {
        color: $profile-color-cyan;
        &:hover {
          color: darken($profile-color-cyan, 10%);
        }
      }
    }
    &:nth-child(10n+5) {
      h3 a {
        color: $profile-color-black;
        &:hover {
          color: darken($profile-color-black, 10%);
        }
      }
    }
    &:nth-child(10n+6) {
      h3 a {
        color: $profile-color-black-light;
        &:hover {
          color: darken($profile-color-black-light, 10%);
        }
      }
    }
    ul {
      margin: 0;
    }
    li {
      margin-right: 0.5em;
      display: inline-block;
      div {
        display: inline;
      }
    }
  }
}
.main__page-title-prefix {
  @include adjust-font-size-to($h5-font-size);
  background-color: $bg-color-grey;
  font-weight: bold;
  text-transform: uppercase;
}
.field-name-field-summary {
  font-weight: bold;
}

////////////
// Styles for node_service_full_group_sidebar
////////////
.node-service.view-mode-full {
  .group-sidebar {
    .field-label-above {
      background-color: $bg-color-grey;
      margin-bottom: 1em;
    }
    .field-label {
        background-color: darken($bg-color-grey, 10%);
    }
    .field-label-inline {
      .field-label {
        background-color: transparent;
      }
    }
    h2,
    .field-item,
    .field-label,
    .field-item p {
      @include adjust-font-size-to($h5-font-size);
      padding: 0 0.5em;
    }
    .field-item p {
      margin: 0;
    }
  }
  .field-group-format-wrapper > div {
    position: relative;
  }
}

////////////
// Styles for first sidebar
////////////
.region-sidebar-first {
  .block-menu {
    padding: 0.2em;
    background-color: $bg-color-grey;
    &:first-child {
      h2 {
        display: none;
      }
    }
  }
  .menu {
    margin-top: 0;
    margin-bottom: 1em;
    padding: 0;
    .is-expanded & {
      padding-left: 2em;
    }
    .menu__item {
      margin: 0 1em;
      list-style-image: none;
      list-style-type: none;
    }
  }
}

////////////
// Styles for second sidebar
////////////
.region-sidebar-second {
  #block-tk-traffic-light {
    border: solid 3px $profile-color-green;
    div {
      padding: 0.5em;
    }
    h2 {
      @include adjust-font-size-to($h4-font-size);
      background-color: lighten($profile-color-green, 50%);
      padding: 0em 0.5em;
      text-transform: uppercase;
    }

    &.bad {
      border-color: $profile-color-red;
      h2 {
        background-color: lighten($profile-color-red, 50%);
      }
    }
    h3 {
      @include adjust-font-size-to($h5-font-size);
      margin: 0.5em;
      text-transform: capitalize;
    }
    ul {
      margin: 0.5em;
    }
  }
}
