// Style rules for the UiB TK theme
/////////////

/////////////
// Basic Styles
/////////////
html{
  background: url(../images/bg-body.png) #fff repeat-x;
}

body {
  background: url(../images/bg-top.png) no-repeat;
}

/////////////
// Styles for navigation
/////////////
nav {
  background-color: $bg-color-grey;
  padding: 0.5em;

  li {
    margin-left: 1em;
    text-transform: uppercase;
  }

  a {
    color: $base-font-color;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: #009de0;
    }
  }
}

////////////
// Styles for first sidebar
////////////
.region-sidebar-first {
  div {
    background-color: $bg-color-grey;
    &:first-child {
      h2 {
        display: none;
      }
    }
  }
}

////////////
// Styles for main
////////////
.view-id-service_classes {
  .item-list {
    @include border-radius(0.5em);
    border: solid 3px #666;
    margin: 1em 0 0;
    padding: 0.5em;
    h3 {
      margin: 0;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &:nth-child(10n+1) {
      h3 a {
        color: $profile-color-green;
        &:hover {
          color: darken($profile-color-green, 10%);
        }
      }
    }
    &:nth-child(10n+2) {
      h3 a {
        color: $profile-color-red;
        &:hover {
          color: darken($profile-color-red, 10%);
        }
      }
    }
    &:nth-child(10n+3) {
      h3 a {
        color: $profile-color-orange;
        &:hover {
          color: darken($profile-color-orange, 10%);
        }
      }
    }
    &:nth-child(10n+4) {
      h3 a {
        color: $profile-color-cyan;
        &:hover {
          color: darken($profile-color-cyan, 10%);
        }
      }
    }
    &:nth-child(10n+5) {
      h3 a {
        color: $profile-color-black;
        &:hover {
          color: darken($profile-color-black, 10%);
        }
      }
    }
    &:nth-child(10n+6) {
      h3 a {
        color: $profile-color-black-light;
        &:hover {
          color: darken($profile-color-black-light, 10%);
        }
      }
    }
    ul {
      margin: 0;
    }
    li {
      display: inline-block;
      &:nth-child(n+2) {
        &:before {
          content: " ,";
        }
      }
      div {
        display: inline;
      }
    }
  }
}
