@import url(//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

body {
    font-family: "Noto Sans", Helvetica, sans-serif;-
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    background: white;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
}

h1, h2 {
    font-size: 140%;
}

h3 {
    font-size: 120%;
}

header {
}

header > .section {
    height: 11ex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    margin: 0 3ex;
}

#logo > img {
    width: 8ex;
    height: 8ex;
}

#name-and-slogan {
}

#name-and-slogan span {
    font-size: 24pt;
    font-weight: normal;
    color: black;
}

#secondary-menu {
    /* The same entries are provided in the toolbar */
    display: none;
}

footer {
    margin-top: 3ex;
    border-top: 1px solid #DDD;
}

nav {
    padding: 0.5ex 2ex;
    background: #cf3c3a;
    color: white;
    margin-bottom: 2ex;
    border-top: 1px solid #ce4a00;
    border-bottom: 1px solid #c34a00;
    box-shadow: 0px 5px 8px #eee;
}

nav h2 {
    display: none;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    text-decoration: underline;
}

nav a:visited {
    color: inherit;
}

#main-menu li:last-child {
    float: right;
}

#main-menu li.active a {
    text-decoration: underline;
}

.breadcrumb {
    display: none;
}

#main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#content {
    position: relative;
    -ms-flex: 3 70%;
    -webkit-flex-basis: 80%;
    flex-basis: 80%;
    -webkit-flex-grow: 3;
    flex-grow: 3;
}

#content h1 {
    margin: 2ex 0;
}

#content .tabs {
    position: absolute;
    top: -4.6ex;
    right: 1ex;
}

#sidebar-first {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
    x-background: #8d8;
    x-border-right: 1px solid #555;
    min-width: 20ex;
    margin-right: 5ex;
    margin-left: 2ex;
    -ms-flex: 1 20%;
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

#sidebar-second {
    x-background: #dd8;
    x-border-left: 1px solid #555;
    min-width: 20ex;
    margin-left: 5ex;
}

#block-menu-menu-services-for h2 {
    font-size: 100%;
}


#block-search-form {
  margin-bottom: 2ex;
}

.block-menu ul {
    margin: 0;
    padding-left: 1ex;
}


#block-system-navigation {
    margin-top: 2ex;
    border-top: 1px dashed #ccc;
    padding-top: 1ex;
}

#block-system-navigation h2 {
    display: none;
}

.view-service-classes > .view-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.view-service-classes > .view-content > .item-list {
    width: 30ex;
    margin: 1ex;
    border: 2px solid #ccc;
    border-radius: 2px;
    box-shadow: 2px 2px 3px #eee;
    position: relative;
    padding-bottom: 1ex;
}

.view-service-classes > .view-content > .item-list > h3 {
    padding: 0.1ex 0.5ex;
    padding-left: 5ex;
    margin-bottom: 1ex;
    background: #777;
    color: #eee;
    min-height: 5ex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.view-service-classes > .view-content > .item-list > h3 i.fa {
    font-size: 180%;
    color: #aaa;
    position: absolute;
    top: 7px;
    left: 10px;
}

.view-service-classes > .view-content > .item-list > h3 a, .view-service-classes > .view-content > .item-list > h3 a:visited {
    color: inherit;
    text-decoration: none;
}

.view-service-classes > .view-content > .item-list > h3 .see-more {
    color: #777;
    font-size: 70%;
    position: absolute;
    right: 7px;
    bottom: 3px;
    text-decoration: underline;
}

.view-service-classes > .view-content > .item-list ul {
    margin: 1.5ex 2ex 1.5ex 1.5ex;
}

.view-service-classes > .view-content > .item-list li {
    margin-bottom: 1ex;
    list-style-type: square;
    color: #aaa;
}

.view-letter-index .item-list {
    margin-top: 2ex;
    margin-bottom: 5ex;
    min-height: 7ex;
}

.view-letter-index h3 {
    font-size: 300%;
    position: absolute;
    color: #ddd;
    margin-top: 0.4ex;
    font-family: serif;
}

.view-letter-index ul {
    max-width: 60ex;
    margin-left: 7ex;
}

.view-letter-index ul li {
    margin: 0;
    margin-bottom: 2ex;
    list-style-type: none;
    x-color: #aaa;
    padding: 0;
}

.view-services-by-category h3 {
    font-size: 160%;
    margin-top: 4ex;
    margin-bottom: 2ex;
}

.view-services-by-category h3 i.fa {
    color: #aaa;
    font-size: 140%;
    margin-right: 1ex;
}

.view-services-by-category ul {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.view-services-by-category ul li {
    list-style-type: square;
    color: #aaa;
}

.view-services-full-text .views-row:not(.views-row-first) {
    margin-top: 6em;
}

.node-service > .content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.node-type-gdpr-processing #page-title:before {
    content: "Behandling av persondata";
    display: block;
    font-size: 60%;
    color: #B55;
}

.group-main {
    -ms-flex: 1 55%;
    -webkit-flex-basis: 60%;
    flex-basis: 60%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
}

.group-sidebar {
    -ms-flex: 1 35%;
    -webkit-flex-basis: 40%;
    flex-basis: 40%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
}

.field-group-div > .field.field-label-hidden {
    padding: 0;
    border: none;
    margin: 0;
    margin-bottom: 2ex;
}

.field-name-field-summary {
    font-style: italic;
}

.field-group-div > .field.field-label-hidden.field-name-field-description {
    margin-bottom: 6ex;
}

.field-group-div > .field {
    max-width: 70ex;
    border: 1px solid #aaa;
    margin-top: -1px;
    margin-left: -1px;
    padding: 1ex;
    padding-top: 2ex;
    position: relative;
    overflow: hidden;
}

.field-group-div > .field > .field-label {
    font-size: 8pt;
    position: absolute;
    top: -0.5ex;
    left: 0.7ex;
    color: #B55;
}

.group-sidebar {
    margin: 0 3ex;
}

.group-secondary {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.group-secondary > .field {
    width: 45%;
}

.field .field-label {
    font-weight: normal;
}

.field-item > p:first-child {
    margin-top: 0;
}

.field-item > p:last-child {
    margin-bottom: 0;
}

.field-item h2 {
    font-size: 100%;
}

a {
    color: #026f9c;
}
a:visited {
    color: #026f9c;
}

#block-tk-traffic-light {
    background: yellow;
    margin-top: 2ex;
    border: 1px solid #777;
    border-radius: 2px;
    box-shadow: 3px 3px 5px #eee;
    font-size: 16px;
}

#block-tk-traffic-light > h2 {
    background: #777;
    color: white;
    padding: 0.1ex 0.5ex;
    font-size: inherit;
}

#block-tk-traffic-light > .content {
    padding: 0.1ex 0.5ex;
    background: #f8f8f8;
}

#block-tk-traffic-light > .content h3 {
    font-size: inherit;
}

.view-service-owners .view-grouping-header {
    font-size: 130%;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
}

.view-service-owners .view-grouping-content {
    font-size: 100%;
}
.view-service-owners .view-grouping-content h3 {
    font-size: 100%;
}

.view-service-review h3 {
    margin-top: 2.5em;
    margin-bottom: 0.5em;
    font-size: 130%;
    letter-spacing: 2px;
}

.view-service-review h3:before {
    content: "Status: ";
}

.view-service-review h4 {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 110%;
}

.view-service-review .views-field-field-service-state {
    font-size: 70%;
}

.view-service-review .views-field-field-internal-notes {
    max-width: 70ex;
}

.node-gdpr-processing .field-type-list-text .field-item:before {
    content: "‣";
    color: #B55;
    padding-right: 0.4ex;
}

ul.gdpr_processing_links {
    margin: 0;
    padding: 0;
    display: inline;
}
ul.gdpr_processing_links > li {
    display: inline;
    padding: 0 0.5ex;
    margin: 0;
}
ul.gdpr_processing_links > li:before {
    content: "‣";
    color: #B55;
    padding-right: 0.3ex;
}

@media all and (max-width: 720px) {
    .node-service > .content {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

   .group-sidebar  {
     -ms-flex-order: -1;
     -webkit-order: -1;
     order: -1;
     margin-left: 0;
     margin-bottom: 2em;
   }
}

table {
    font-size: smaller;
}

table > caption {
    color: #B55;
    font-size: larger;
    text-align: left;
}
td, th {
    padding: 0.5ex 1ex;
}

td {
    border-right: 1px solid #FFFFFF;
}

td.active {
    background-color: inherit;
}

tr.even, tr.odd {
    border-bottom: 1px solid #FFFFFF;
    background-color: #E8E8E8;
}

tr.even {
    background-color: #F5F5F5;
}
