@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic);

body {
    font-family: "Noto Sans", Helvetica, sans-serif;-
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    background: white;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
}

h1, h2 {
    font-size: 140%;
}

h3 {
    font-size: 120%;
}

header {
    height: 11ex;
    position: relative;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    position: absolute;
    top: 1.5ex;
    left: 2ex;
}

#logo > img {
    width: 8ex;
    height: 8ex;
}

#name-and-slogan {
    padding-top: 3ex;
    padding-left: 14ex;
}

#name-and-slogan span {
    font-size: 24pt;
    font-weight: normal;
    color: black;
}

#secondary-menu {
    /* The same entries are provided in the toolbar */
    display: none;
}

footer {
    margin-top: 3ex;
    border-top: 1px solid #DDD;
}

nav {
    padding: 0.5ex 2ex;
    background: #eef;
    margin-bottom: 2ex;
    border-top: 1px solid #dde;
    border-bottom: 1px solid #dde;
    box-shadow: 0px 5px 8px #eee;
}

nav h2 {
    display: none;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    text-decoration: underline;
}

nav a:visited {
    color: inherit;
}

.breadcrumb {
    display: none;
}

#main {
    display: -webkit-flex;
    display: flex;
}

#content {
    position: relative;
}

#content h1 {
    margin: 2ex 0;
}

#content .tabs {
    position: absolute;
    top: -4.6ex;
    right: 1ex;
}

#sidebar-first {
    -webkit-order: -1;
    order: -1;
    x-background: #8d8;
    x-border-right: 1px solid #555;
    min-width: 20ex;
    margin-right: 5ex;
}

#sidebar-second {
    x-background: #dd8;
    x-border-left: 1px solid #555;
    min-width: 20ex;
    margin-left: 5ex;
}

#block-system-navigation {
    max-width: 20ex;

}

#block-system-navigation h2 {
    display: none;
}

.view-service-classes > .view-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.view-service-classes > .view-content > .item-list {
    width: 30ex;
    margin: 1ex;
    border: 1px solid #777;
    border-radius: 2px;
    box-shadow: 3px 3px 5px #eee;
    background: #f8f8f8;
}

.view-service-classes > .view-content > .item-list > h3 {
    padding: 0.1ex 0.5ex;
    margin-bottom: 1ex;
    background: #777;
    color: white;
}

.view-service-classes > .view-content > .item-list > h3 a, .view-service-classes > .view-content > .item-list > h3 a:visited {
    color: inherit;
    text-decoration: none;
}

.view-service-classes > .view-content > .item-list li {
    margin-bottom: 1ex;
    list-style-type: square;
    color: #aaa;
}

.view-service-classes > .view-content > .item-list li {
    margin-bottom: 1ex;
    list-style-type: square;
    color: #aaa;
}

.node-service > .content {
    display: -webkit-flex;
    display: flex;
}

.group-main {
    -webkit-flex-basis: 60%;
    flex-basis: 60%;
    -webkit-flex-grow: 1;
    flex-grow: 3;
}

.group-sidebar {
    -webkit-flex-basis: 40%;
    flex-basis: 40%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.field-group-format-wrapper > .field.field-label-hidden {
    padding: 0;
    border: none;
    margin-bottom: 2ex;
}

.field-name-field-summary {
    font-style: italic;
}

.field-group-format-wrapper > .field.field-label-hidden.field-name-field-description {
    margin-bottom: 6ex;
}

.field-group-format-wrapper > .field {
    border: 1px solid #aaa;
    margin: 1ex;
    padding: 1ex;
    padding-top: 2ex;
    position: relative;
}

.field-group-format-wrapper > .field > .field-label {
    font-size: 8pt;
    position: absolute;
    top: -0.5ex;
    left: 0.7ex;
    color: #B55;
}

.field .field-label {
    font-weight: normal;
}

.field-item > p:first-child {
    margin-top: 0;
}

.field-item > p:last-child {
    margin-bottom: 0;
}

a {
    color: #026f9c;
}
a:visited {
    color: #026f9c;
}

#block-tk-traffic-light {
    background: yellow;
    margin: 2ex;
    border: 1px solid #777;
    border-radius: 2px;
    box-shadow: 3px 3px 5px #eee;
    font-size: 16px;
}

#block-tk-traffic-light > h2 {
    background: #777;
    color: white;
    padding: 0.1ex 0.5ex;
    font-size: inherit;
}

#block-tk-traffic-light > .content {
    padding: 0.1ex 0.5ex;
    background: #f8f8f8;
}

#block-tk-traffic-light > .content h3 {
    font-size: inherit;
}
